form {
    margin-top: 150px;
  }
  
  label {
    color: violet;
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    background-color: aqua;
    color: purple;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
  
  p {
    color: white;
  }
  .success{
    border: 1px solid green;
    background-color: rgb(103, 169, 125);
  }
  .error{
    border: 1px solid red;
    background-color: rgb(189, 110, 110);
  }